* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('Background.jpeg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9); /* Adding slight transparency */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.tagline {
    color: gray;
    margin-bottom: 20px;
}

form input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form button {
    width: 100%;
    padding: 14px;
    background-color: #9e4ae288;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

form button:hover {
    background-color: #7235bda2;
}

.switch {
    margin-top: 20px;
    color: #4a90e2;
}

.switch a {
    color: #357ABD;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}
 